/* Fonts */
@font-face {
  font-family: 'Open Sans Light'; /*a name to be used later*/
  src: url('../fonts/OpenSans-Light.ttf') format('ttf'); /*URL to font*/
}
@font-face {
  font-family: 'Raleway Thin'; /*a name to be used later*/
  src: url('../fonts/Raleway-Thin.ttf') format('ttf'); /*URL to font*/
}
@font-face {
  font-family: 'Raleway Light'; /*a name to be used later*/
  src: url('../fonts/Raleway-Light.ttf') format('ttf'); /*URL to font*/
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container.main-content {
  margin-bottom: 10vh;
}
/* START Header */

header {
  background-image: url("../images/background_header.png");
}
header .navbar {
  font-family: "Raleway Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}
header .countries li img {
  max-height: 2vh;
}
header .navbar-brand > img {
  max-height: 1.25em;
}
/* END Header */

/* START Footer */
.footer {
  background-color: #40403f;
  color: white;
  font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}
.footer .row {
  padding-bottom: 5%;
  margin-right: 0px;
}
.footer h4 {
  color: #2ec9df;
}
.footer form {
  display: inherit;
}
.footer form input {
  border-radius: 0;
}
.footer .btn-primary {
  border-radius: 0;
  background-color: #2ec9df;
  border-color: #2ec9df;
}
.footer a, .footer a:hover {
  color: inherit;
}
.footer .copyright p {
  margin: 5px 0 0;
  padding: 0;
}
.footer #top-footer {
  padding-bottom: 0;
  top: -8vh;
}
.footer #top-footer img {
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  width: 11vw;
}
.footer .social {
  text-align: right;
}
.footer .social img {
  margin-left: 5px;
  margin-right: 5px;
}
.footer .social ul, .footer #top-footer ul {
  margin: 5px 0 0;
  padding: 0;
  text-align: center;
}
.footer .social li, .footer #top-footer li, header .countries li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
}
/* END Footer */

/* START Homepage */
h1 {
  font-family: "Raleway Light", Helvetica, Arial, sans-serif;
}
p{
  font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}
#videoHomepage {
  margin: 2% auto;
}
#carouselHomepage {
  max-width: 80%;
  margin: 2% auto;
}
#carouselHomepage .carousel-caption {
  color: #00e0bf;
  font-size: 1.6em;
}
/* END Homepage