{% extends "base.html.twig" %}

{% block title %}
    {{ 'title.error.404'|trans|capitalize }} - DiabHelper
{% endblock title %}

{% block maincontent %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <p style="text-align: center; font-size: 6em;">¯\_(ツ)_/¯</p>
            <p>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ 'text.error.404.description'|trans }}
            </p>
        </div>
    </div>
{% endblock maincontent %}

{% block footer %}{% endblock footer %}
