{% extends "base.html.twig" %}

{% block title %}
    {{ 'title.error.default'|trans }} : {{ status_text }}
{% endblock title %}

{% block maincontent %}
    <div class="container">
        <h1>{{ 'text.error.default.title'|trans }}</h1>
        <h2>{{ 'text.error.default.returned'|trans }} "{{ status_code }} {{ status_text }}".</h2>

        <div>
            {{ 'text.error.default.description'|trans }}
        </div>
    </div>
{% endblock maincontent %}

{% block footer %}{% endblock footer %}
