<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ app.request.getLocale() }}">
<head>
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" xml:lang="{{ app.request.getLocale() }}"
          content="application/xhtml+xml; charset=utf-8"/>
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    {% block stylesheets %}
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/axel.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>
    <div class="countries container text-right">
        <ul>
            <li><a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}"
                   title="{{ 'header.link.french'|trans }}"><img src="{{ asset('assets/images/flag_fr.png') }}" title="{{ 'header.image.flag.french'|trans }}"></a>
            </li>
{#            <li><a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'es'}) }}"
                   title="{{ 'header.link.spanish'|trans }}"><img src=""
                                                                  title="{{ 'header.image.flag.spanish'|trans }}"></a>
            </li>#}
            <li><a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}"
                   title="{{ 'header.link.english'|trans }}"><img src="{{ asset('assets/images/flag_en.png') }}"
                                                                  title="{{ 'header.image.flag.english'|trans }}"></a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/Logo.png') }}" title=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if app.request.attributes.get('_route') == 'blabla' %}
                        <li class="active"><a href="#">{{ 'header.menu.enterprise'|trans }} <span
                                        class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="#">{{ 'header.menu.enterprise'|trans }}</a></li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') == 'blabla' %}
                        <li class="active"><a href="#">{{ 'header.menu.services'|trans }} <span
                                        class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="#">{{ 'header.menu.services'|trans }}</a></li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') == 'blabla' %}
                        <li class="active"><a href="#">{{ 'header.menu.offers'|trans }} <span
                                        class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li><a href="#">{{ 'header.menu.offers'|trans }}</a></li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') == 'blabla' %}
                        <li class="active"><a href="#">{{ 'header.menu.about'|trans }} <span
                                        class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="#">{{ 'header.menu.about'|trans }}</a></li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') == 'contact' %}
                        <li class="active"><a href="{{ path('contact') }}">{{ 'header.menu.contact'|trans }} <span
                                        class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('contact') }}">{{ 'header.menu.contact'|trans }}</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <a type="submit"><span class="glyphicon glyphicon-search"></span></a>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

{% block maincontent %}{% endblock %}

{% block footer %}
    <footer class="footer">
        {#Footer Top#}
        <div class="col-xs-10 col-xs-offset-1 row" id="top-footer">
            <ul>
                <li>
                    <a href=""><img class="img-responsive"
                                    src="{{ asset('assets/images/footer/footerBureau.png') }}"></a>
                </li>
                <li>
                    <a href=""><img class="img-responsive"
                                    src="{{ asset('assets/images/footer/footerSièges.png') }}"></a>
                </li>
                <li>
                    <a href=""><img class="img-responsive"
                                    src="{{ asset('assets/images/footer/footerReunionAccueil.png') }}"></a>
                </li>
                <li>
                    <a href=""><img class="img-responsive"
                                    src="{{ asset('assets/images/footer/footerTechnologie.png') }}"></a>
                </li>
                <li>
                    <a href=""><img class="img-responsive"
                                    src="{{ asset('assets/images/footer/footerVr.png') }}"></a>
                </li>
                <li>
                    <a href=""><img class="img-responsive"
                                    src="{{ asset('assets/images/footer/footerContactez-nous.png') }}"></a>
                </li>
            </ul>
        </div>
        {#Footer Middle#}
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-offset-2">
                <div class="col-xs-6">
                    <h4>{{ 'footer.support.title'|trans|upper }}</h4>
                    <ul class="list-unstyled">
                        <li><a href=""
                               title="{{ 'footer.support.sendEmail'|trans }}">{{ 'footer.support.sendEmail'|trans }}</a>
                        </li>
                        <li><a href=""
                               title="{{ 'footer.support.callUs'|trans }}">{{ 'footer.support.callUs'|trans }}</a>
                        </li>
                        <li><a href=""
                               title="{{ 'footer.support.liveChat'|trans }}">{{ 'footer.support.liveChat'|trans }}</a>
                        </li>
                        <li><a href=""
                               title="{{ 'footer.support.faq'|trans }}">{{ 'footer.support.faq'|trans }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <h4>{{ 'footer.informations.title'|trans|upper }}</h4>
                    <ul class="list-unstyled">
                        <li><a href=""
                               title="{{ 'footer.informations.newsInsight'|trans }}">{{ 'footer.informations.newsInsight'|trans }}</a>
                        </li>
                        <li><a href=""
                               title="{{ 'footer.informations.trackOrder'|trans }}">{{ 'footer.informations.trackOrder'|trans }}</a>
                        </li>
                        <li><a href=""
                               title="{{ 'footer.informations.delivery'|trans }}">{{ 'footer.informations.delivery'|trans }}</a>
                        </li>
                        <li><a href=""
                               title="{{ 'footer.informations.returns'|trans }}">{{ 'footer.informations.returns'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 text-center">
                <h4>{{ 'footer.subscribe.title'|trans }}</h4>
                <p>{{ 'footer.subscribe.description'|trans }}</p>
                <div class="input-group" role="group" aria-label="Newsletter subscribe">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <form method="POST" id="formSubscribeNewsletter">
                        <input type="email" class="form-control" name="subscriberEmail"
                               placeholder="{{ 'footer.subscribe.form.mail.placeholder'|trans }}">
                        <span class="input-group-btn">
            <button class="btn btn-primary">{{ 'footer.subscribe.submitButton'|trans|upper }}</button>
                    </span>
                    </form>
                </div>
            </div>
        </div>
        {#Footer Bottom#}
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-2 copyright">
                <div class="col-xs-12 col-sm-2">
                    <img src="{{ asset('assets/images/footer/logoD&Awhite.png') }}" alt="Logo D&A" id="footerLogoDA"/>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <p>
                        Copyright <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2017
                        - {{ "now"|date("Y") }} {{ 'association.name'|trans }}
                        . {{ 'footer.copyright.rights'|trans }}.
                    </p>
                    <p>
                        <a href="" data-toggle="modal" data-target="#modalPrivacy"
                           title="{{ 'footer.copyright.privacy'|trans }}">{{ 'footer.copyright.privacy'|trans }}</a>
                        /
                        <a href="" data-toggle="modal" data-target="#modalTos"
                           title="{{ 'footer.copyright.terms'|trans }}">{{ 'footer.copyright.terms'|trans }}</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 social">
                <ul>
                    <li>
                        <a href="https://twitter.com" target="_blank"><img class="img-circle"
                                                                           src="{{ asset('assets/images/footer/logoTwitter.png') }}"></a>
                    </li>
                    <li>
                        <a href="https://facebook.com" target="_blank"><img class="img-circle"
                                                                            src="{{ asset('assets/images/footer/logoFacebook.png') }}"></a>
                    </li>
                    <li>
                        <a href="https://google.fr" target="_blank"><img class="img-circle"
                                                                         src="{{ asset('assets/images/footer/logoGoogle+.png') }}"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/nicolas-mylle-98b8a5118/" target="_blank"><img
                                    class="img-circle"
                                    src="{{ asset('assets/images/footer/logoLinkedIn.png') }}"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"><img
                                    class="img-circle"
                                    src="{{ asset('assets/images/footer/logoInstagram.png') }}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Modal Privacy Policy -->
    <div class="modal fade" id="modalPrivacy" tabindex="-1" role="dialog" aria-labelledby="Popup Privacy Policy">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'footer.copyright.privacy.modal.title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ 'footer.copyright.privacy.modal.paragraph1'|trans|raw }}
                    </p>
                    <p>
                        {{ 'footer.copyright.privacy.modal.paragraph2'|trans|raw }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Term of service -->
    <div class="modal fade" id="modalTos" tabindex="-1" role="dialog" aria-labelledby="Modal term of services">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'footer.copyright.terms.modal.title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ 'footer.copyright.terms.modal.paragraph1'|trans|raw }}
                    </p>
                    <p>
                        {{ 'footer.copyright.terms.modal.paragraph2'|trans|raw }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock footer %}
{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <script type="text/javascript">
      $('#formSubscribeNewsletter').submit(function () {
        $.ajax({
          type: "POST",
          data: $(this).serializeArray(),
          url: '{{ path("subscribeNewsletter") }}',
          success: function (returnFromAjax) {
            alert(returnFromAjax);
          },
          fail: function () {
            alert('An error occured, please try again later.')
          }
        });
        return false;
      });
    </script>
{% endblock %}
</body>
</html>
