<h1>M. {{ name }} from {{ site_name }} tried to contact you.</h1>

<h2>Object : {{ object }}</h2>

<p>Date : {{ "now"|date("m/d/Y") }}</p>
<p>Mail : <a href="mailto:{{ mail }}">{{ mail }}</a></p>
<p>Name : {{ name }}</p>
<p>
    Message : <br/>
    {{ message }}
</p>

Answer directly here : <a href="mailto:{{ mail }}">{{ mail }}</a>
