{% extends 'base.html.twig' %}

{% block title %}{{ 'title.contact'|trans|capitalize }}{% endblock title %}

{% block maincontent %}
    <div class="container main-content">
        {% if app.session.flashBag.has('successSubmit') %}
            <div class="alert alert-success">
                {% for flashMessage in app.session.flashBag.get('successSubmit') %}
                    {{ flashMessage|trans }}
                {% endfor %}
            </div>
        {% else %}
            {{ form(formContact) }}
        {% endif %}
    </div>
{% endblock maincontent %}
