{% extends 'base.html.twig' %}

{% block title %}{{ 'title.home'|trans|capitalize }}{% endblock title %}

{% block maincontent %}
    <div class="container main-content">

        <div>
            <h1>{{ 'page.homepage.textblock1.title'|trans }}</h1>

            <p>
                {{ 'page.homepage.textblock1.paragraph1.content'|trans }}
            </p>
            <p>
                {{ 'page.homepage.textblock1.paragraph2.content'|trans }}
            </p>
        </div>

        <div class="embed-responsive embed-responsive-16by9" id="videoHomepage">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c20swjOvsoY?rel=0&amp;showinfo=0"
                    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>

        <div id="carouselHomepage" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carouselHomepage" data-slide-to="0" class="active"></li>
                <li data-target="#carouselHomepage" data-slide-to="1"></li>
                <li data-target="#carouselHomepage" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('assets/images/sliderHome1/notre_selection_slider.jpg') }}" alt="{{ 'page.homepage.slider.slide1'|trans }}">
                    <div class="carousel-caption">
                        {{ 'page.homepage.slider.slide1'|trans }}
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('assets/images/sliderHome1/photo_made_in_france_slider.jpg') }}" alt="{{ 'page.homepage.slider.slide2'|trans }}">
                    <div class="carousel-caption">
                        {{ 'page.homepage.slider.slide2'|trans }}
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('assets/images/sliderHome1/photo_vr_slider.png') }}" alt="{{ 'page.homepage.slider.slide3'|trans }}">
                    <div class="carousel-caption">
                        {{ 'page.homepage.slider.slide3'|trans }}
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carouselHomepage" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carouselHomepage" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

    </div>
{% endblock maincontent %}
